.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container {
    border-right: 2px solid gray;
    margin-right: 10px;
    margin-left: 80px;
}

.search-container {
    background-color: rgba(0, 0, 0, 0.849);
    text-align: center;
    height: 50px;
}

.search-container input {
    width: 75%;
    height: 75%;
    margin-top: 2px;
}